<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nanguomm.nmall.mapper.OderMapper">

    <resultMap id="OrderMap" type="top.nanguomm.nmall.entity.Order">
        <id property="oderId" column="oder_id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        oder_id, product_id, user_id, status, quantity, price, add_time, del_flag,
    create_by, create_time, update_by, update_time
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="oderId">
        insert oder_list (user_id,product_id,price,create_by,status,quantity)
        VALUES (#{order.userId},#{order.productId},#{order.price},#{order.createBy},#{order.status},#{order.quantity})
    </insert>
</mapper>