<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nanguomm.nmall.mapper.ShoppingCarMapper"> <!-- Mapper接口的全类名 -->

    <resultMap id="ShopMap" type="top.nanguomm.nmall.entity.ShoppingCart">
        <id property="cartId" column="cart_id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        cart_id, user_id, product_id, quantity, add_time, update_time, del_flag
    </sql>

    <insert id="add">
        insert INTO shopping_cart(user_id,product_id,quantity) VALUES (user_id=${userId},product_id=${productId},quantity=#{quantity})
    </insert>
</mapper>
