<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nanguomm.nmall.mapper.UserMapper"> <!-- Mapper接口的全类名 -->

    <!-- 定义结果映射 -->
    <resultMap id="userResultMap" type="top.nanguomm.nmall.entity.User">
        <result property="phone" column="user_phone"/>
        <result property="email" column="user_email"/>
        <result property="password" column="user_password"/>
    </resultMap>

<!--    登录-->
    <select id="login" resultType="top.nanguomm.nmall.entity.User" resultMap="userResultMap">
        <!-- 动态SQL实现登录功能 -->
        SELECT user_phone, user_email, user_password
        FROM users
        WHERE
        (
        user_phone = #{account}
        OR user_email = #{account}
        )
        AND user_password = #{password}  <!-- 密码验证 -->
        AND user_del_flag != 1  <!-- 确保账号未被删除 -->
    </select>

<!--    检查手机号和邮箱是否存在-->
    <select id="checkUserExists" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM users
        WHERE
            (user_phone = #{user.phone} OR user_email = #{user.email})
          AND user_del_flag = 0 <!-- 确保账号存在 -->
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser">
        INSERT INTO users (user_phone, user_email, user_password, user_del_flag)
        VALUES (#{user.phone}, #{user.email}, #{user.password}, 0) <!-- 默认插入未删除状态 -->
    </insert>


</mapper>